html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.marker, .obra, .alerta {
  background-image: url("/img/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100001;
}

.obra {
  background-image: url("/img/work.png");
}

.alerta {
  background-image: url("/img/warning.png");
}

.mapboxgl-popup-close-button {
  color: white;
  font-size: 16px;
  font-weight: 500;
  right: 3px;
  top: 3px;
}

.popup__single_info {
  color: white;
}

.popup__single_info .mapboxgl-popup-content {
  background: #000;
  padding: 5px 8px;
  font-size: 12px !important;
}

.popup__single_info .mapboxgl-popup-content .mapboxgl-popup-tip {
  border-color: #000 !important;
}
.popup__site_info {
  color: #222;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, sans-serif;
}

.popup__site_info .mapboxgl-popup-content {
  padding: 0 !important;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.popup__site_info .mapboxgl-popup-content .cover {
  max-height: 140px;
  max-width: 100%;
  overflow: hidden;
}

.popup__site_info .cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup__site_info .description {
  padding: 4px 8px 10px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}


.popup__site_info .description button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.popup__site_info .title {
  font-size: 13px;
  color: black;
  font-weight: bold;
  margin: 0;
}

.popup__site_info .subtitle {
  font-size: 12px;
  color: #444;
  margin: 0;
}

.swiper-button-next, .swiper-button-prev{
  color: black !important;
  padding: 25px !important;
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 30px !important;
}

.swiper-button-disabled{
  display: none !important;
}

/* ADMIN */
.admin__layout {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 250px 1fr;
  background: white;
  color: #222;
  --header-height: 55px;
  --sidebar-bg: white;
  --sidebar-link: #23315c;
  --sidebar-link-bg: white;
  --sidebar-link-active: white;
  --sidebar-link-bg-active: #23315c;
}

.sidebar {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}

.appbar {
  position: sticky;
  width: 100%;
  background: #fafafa;
  height: var(--header-height);
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.wrapper__content {
  max-height: 100vh;
  overflow-y: auto;
  background: #eee;
}

.wrapper__content .container {
  padding: 15px;
}

.card__content {
  border-radius: 8px;
  background: white;
  min-height: calc(100vh - 30px - var(--header-height));
  padding: 10px;
}

.avatar__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.avatar__container .avatar__images {
  display: flex;
  align-items: center;
  gap: 15px;
}

.avatar__container .user__name {
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
}

.sidebar__links {
  padding: 15px 0;
}

.sidebar__link {
  background: var(--sidebar-link-bg);
  color: var(--sidebar-link);
  font-size: 14px;
  padding: 8px 18px;
  border-radius: 8px;
  width: 100%;
  display: block;
  box-shadow: 1px 1px 5px rgba(0,0,0,.08);
  transition: all ease-in-out .25s;
  margin-bottom: 4px;
}

.sidebar__link.active {
  background: var(--sidebar-link-bg-active);
  color: var(--sidebar-link-active);
}


.muni__layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 65px;
  height: 100vh;
  background: white;
}

.muni__layout.lg {
  grid-template-rows: 220px 1fr 65px;
}

.muni__layout.light .header {
  background: white;
}

.muni__layout .header {
  background: #B72727;
}

.muni__layout .content {
  max-height: 100%;
  overflow-y: auto;
}

.muni__layout .navigation {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.muni__layout .navigation {
  display: flex;
  justify-content: center;
}

.muni__navigation {
  list-style: none;
  display: flex;
  gap: 2px;
  margin: 0;
  padding: 0;
  height: 100%;
}

.muni__navigation .muni__navigation_link {
  display: flex;
  min-width: 70px;
  max-width: 150px;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 12px;
  color: #8A8D8F;
  height: 100%;
  text-align: center;
  padding: 8px 5px;
  gap: 5px;
}

.muni__navigation .muni__navigation_link span.navigation__text {
  line-height: 1.1;
}

.muni__navigation .muni__navigation_link span.navigation__icon {
  min-height: 20px;
  max-height: 20px;
}

.muni__navigation_link.active {
  color: #004C97 !important;
}
@media screen and (min-width: 1000px) {
  .muni__navigation .muni__navigation_link {
    min-width: 120px;
  }
}
@media screen and (max-width: 600px) {
  .muni__navigation {
    width: 100%;
  }
  .muni__navigation .muni__navigation_link {
    flex: 1;
    width: 100%;
    font-size: 11px;
  }
}

.container__content {
  padding: 15px;
}

@media screen and (min-width: 1000px) {
  .container__content {
    padding: 15px 3em !important;
  }
}

/* home muni */
.header__home {
  width: 100%;
  height: 100%;
  padding-top: 18px !important;
}

.header__home .header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title__home {
  display: flex;
  flex-flow: row wrap;
  gap: 6px;
  font-weight: 400;
  margin: 0;
}

.title__home span {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .header__home {
    padding: 15px !important;
  }
  .header__home .header__top {
    margin-bottom: 10px;
  }
  .title__home {
    font-size: 20px;
    flex-flow: column nowrap;
    padding-top: 10px;
  }
}


.card__alert {
  display: flex;
  align-items: center;
  gap: 15px;
  background: white;
  border-radius: 10px;
  max-width: 350px;
  min-width: 300px;
  height: 100px;
  padding: 10px 15px;
  max-height: 100px;
}

.card__alert .icon {
  --size-icon: 50px;
  min-width: var(--size-icon);
  height: var(--size-icon);
  max-width: var(--size-icon);
  max-height: var(--size-icon);
  border-radius: 50%;
  background: #FEE5CD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__alert .content .alert__link {
  font-size: 11px;
  margin-top: 2px;
  font-weight: 500;
}

.card__alert .content {
  color: #222;
}

.card__alert .content p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}


.home__container {
  color: #222;
}


.card__notice {
  max-width: 350px;
  border-radius: 8px;
  overflow: hidden;
} 

.card__notice .header {
  background: #F9F3F3;
  padding: 15px;
}

.card__notice .header p.text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 6px;
}

.card__notice .header .author {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__notice .header .avatar {
  display: flex;
  align-items: flex-end;
}

.card__notice .header .author .time {
  font-size: 12px;
  color: #8A8D8F;
}

.card__notice .header .avatar span {
  font-size: 14px;
  margin-left: 10px;
  font-weight: 500;
  font-style: italic;
}

.card__notice .footer {
  background: #891313;
  display: grid;
  grid-template-columns: 80px 1fr;
}

.card__notice .footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__notice .footer .footer__description {
  padding: 4px 10px;
  color: white;
}

.card__notice .footer .footer__description span {
  font-size: 11px;
} 
.card__notice .footer .footer__description p {
  font-size: 14px;
  margin: 5px 0;
}


@media screen and (max-width: 600px) {
  .card__notice {
    max-width: 100%;
  }
}